/* src/pages/Home.css */

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px); /* Adjust height to account for navbar */
    background-color: #f9f9f9;
    padding: 20px;
  }
  
  .home-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .home-button {
    padding: 10px 20px;
    background-color: #2196f3;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .home-button:hover {
    background-color: #1976d2;
    transform: scale(1.05);
  }
  